### Libraries and Importing

In [3]:
# The latest versions of the following libraries should be installed
!pip install plotnine
!pip install pmdarima

Requirement already satisfied: plotnine in /usr/local/lib/python3.7/dist-packages (0.6.0)
Requirement already satisfied: numpy>=1.16.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.21.5)
Requirement already satisfied: scipy>=1.2.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.4.1)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.3.5)
Requirement already satisfied: patsy>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.5.2)
Requirement already satisfied: statsmodels>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.13.2)
Requirement already satisfied: mizani>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (0.6.0)
Requirement already satisfied: matplotlib>=3.1.1 in /usr/local/lib/python3.7/dist-packages (from plotnine) (3.2.2)
Requirement already satisfied: descartes>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from plotnine) (1.1.0)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (3.0.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (1.4.0)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.1.1->plotnine) (2.8.2)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.1.1->plotnine) (3.10.0.2)
Requirement already satisfied: palettable in /usr/local/lib/python3.7/dist-packages (from mizani>=0.6.0->plotnine) (3.3.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->plotnine) (2018.9)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from patsy>=0.4.1->plotnine) (1.15.0)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels>=0.9.0->plotnine) (21.3)
Requirement already satisfied: pmdarima in /usr/local/lib/python3.7/dist-packages (1.8.5)
Requirement already satisfied: scipy>=1.3.2 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.4.1)
Requirement already satisfied: statsmodels!=0.12.0,>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.13.2)
Requirement already satisfied: scikit-learn>=0.22 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.0.2)
Requirement already satisfied: pandas>=0.19 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.3.5)
Requirement already satisfied: Cython!=0.29.18,>=0.29 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (0.29.28)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.24.3)
Requirement already satisfied: setuptools!=50.0.0,>=38.6.0 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (57.4.0)
Requirement already satisfied: numpy>=1.19.3 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.21.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from pmdarima) (1.1.0)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19->pmdarima) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19->pmdarima) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.22->pmdarima) (3.1.0)
Requirement already satisfied: patsy>=0.5.2 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (0.5.2)
Requirement already satisfied: packaging>=21.3 in /usr/local/lib/python3.7/dist-packages (from statsmodels!=0.12.0,>=0.11->pmdarima) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging>=21.3->statsmodels!=0.12.0,>=0.11->pmdarima) (3.0.7)

In [4]:
# Mounting google drive to google collab notebook (Only necessary in google collab environment)
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [5]:
# Import relevant libraries (These should be installed if not already)
import pandas as pd
from pmdarima.arima import auto_arima
from pmdarima.arima import ARIMA as arima_order
import numpy as np
from numpy import set_printoptions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_classif
import warnings
warnings.filterwarnings("ignore")
import pickle

# Read csv files from data preparation
state_year = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/state_year.csv')
li_price = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/li_price.csv')
miso_load = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/miso_load.csv')
model_sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/model_sales.csv')
state_year = state_year.sort_values(['Year', 'State'])
us_ev_sales = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/US_EV_SalesData.csv')
state_year

,State,Year,Gasoline Price,Median Income,Population,Renewable Energy Use,Total Energy Use,Transportation Energy Use,Stations Opened
2652,AK,1960,NaN,NaN,NaN,6800.0,296.0,27139.0,NaN
2653,AL,1960,NaN,NaN,NaN,112809.0,15485.0,176015.0,NaN
2654,AR,1960,NaN,NaN,NaN,48104.0,5662.0,104652.0,NaN
2655,AZ,1960,NaN,NaN,NaN,36181.0,6138.0,116689.0,NaN
2656,CA,1960,NaN,NaN,NaN,270161.0,57270.0,1224448.0,NaN
...,...,...,...,...,...,...,...,...,...
3202,VA,2022,NaN,NaN,NaN,NaN,NaN,NaN,50.0
3204,VT,2022,NaN,NaN,NaN,NaN,NaN,NaN,6.0
3206,WA,2022,NaN,NaN,NaN,NaN,NaN,NaN,33.0
3208,WI,2022,NaN,NaN,NaN,NaN,NaN,NaN,14.0
3210,WV,2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0

### EV Sales vs Socioeconomic Factors

In [4]:
# Clean dataframes
states = ['AL', 'AR', 'IL', 'IN', 'IA', 'KY', 'LA', 'MI', 'MN', 'MS', 'MO','ND', 'SD', 'TX', 'WI']
state_year_copy = state_year.loc[state_year['State'].isin(states)]
state_year_copy.loc[state_year_copy['Stations Opened'].isna(), 'Stations Opened'] = 0
state_year_copy = state_year_copy.dropna()
state_year_copy = state_year_copy.loc[(state_year_copy['Year'] >= 2011)]
state_year_copy = state_year_copy.reset_index().drop('index', axis=1)

us_ev_sales_copy = us_ev_sales.sort_values(['Year', 'State'])
us_ev_sales_copy = us_ev_sales_copy.loc[(us_ev_sales_copy['Year'] <= 2019)]
us_ev_sales_copy = us_ev_sales_copy.reset_index().drop('index', axis=1)

extracted_col = us_ev_sales_copy["Total"]
state_year_copy = state_year_copy.join(extracted_col)
state_year_copy['States_Cat'] = pd.factorize(state_year_copy['State'])[0]
state_year_copy = state_year_copy[['States_Cat', 'Year', 'Gasoline Price', 'Median Income', 'Population', 'Renewable Energy Use', 
                                   'Transportation Energy Use', 'Stations Opened', 'Total', 'State']]
state_year_copy

,States_Cat,Year,Gasoline Price,Median Income,Population,Renewable Energy Use,Transportation Energy Use,Stations Opened,Total,State
0,0,2011,27.53,25082.0,4799642.0,255849.0,474771.0,8.0,73,AL
1,1,2011,27.86,23039.0,2941038.0,124987.0,284546.0,18.0,22,AR
2,2,2011,28.21,28663.0,3066772.0,668883.0,307194.0,18.0,49,IA
3,3,2011,28.71,32857.0,12867783.0,313512.0,985537.0,11.0,328,IL
4,4,2011,27.74,29475.0,6517250.0,222942.0,581270.0,5.0,94,IN
...,...,...,...,...,...,...,...,...,...,...
130,10,2019,19.03,16413.0,2978227.0,66398.0,342707.0,12.0,273,MS
131,11,2019,21.60,21205.0,763724.0,210222.0,131355.0,10.0,114,ND
132,12,2019,21.05,18142.0,887127.0,261949.0,98484.0,10.0,186,SD
133,13,2019,19.07,23743.0,28986794.0,962899.0,3334081.0,242.0,5780,TX
134,14,2019,21.37,23246.0,5824581.0,230974.0,452210.0,46.0,1962,WI

In [5]:
# Perform feature extraction to see how well each variable x predicts for Y
array = state_year_copy.values
X = array[:,0:8]
Y = array[:,8]

test = SelectKBest(score_func=f_classif, k=5)
fit = test.fit(X, Y)
# summarize scores
for i in range(len(fit.scores_)):
  print(state_year_copy.columns[i] + ": " + str(fit.scores_[i]))

States_Cat: 12.38733552631579
Year: 1.6750637755102042
Gasoline Price: 0.8847555164713398
Median Income: 3.214787784399947
Population: 31.80435584690869
Renewable Energy Use: 0.8497372786675979
Transportation Energy Use: 32.36896829539239
Stations Opened: 28.584300255490326

### Socioeconomic Factors Forecasting

In [14]:
# Filter for MISO states and drop useless columns
states = ['AL', 'AR', 'IL', 'IN', 'IA', 'KY', 'LA', 'MI', 'MN', 'MS', 'MO','ND', 'SD', 'TX', 'WI']
miso_states_year = state_year.loc[(state_year['State'].isin(states)) & (state_year['Year'] <= 2019) \
                                  & (state_year['Year'] >= 1984)]
miso_states_year = miso_states_year.drop('Total Energy Use', axis=1)
miso_states_year.loc[miso_states_year['Stations Opened'].isna(), 'Stations Opened'] = 0
miso_states_year

,State,Year,Gasoline Price,Median Income,Population,Renewable Energy Use,Transportation Energy Use,Stations Opened
715,AL,1984,8.98,54393.0,3951824.0,287856.0,337698.0,0.0
716,AR,1984,8.55,50540.0,2319767.0,91421.0,207483.0,0.0
726,IA,1984,9.34,68469.0,2858615.0,77577.0,228259.0,0.0
728,IL,1984,8.82,73753.0,11412128.0,145656.0,707471.0,0.0
729,IN,1984,8.74,66360.0,5458322.0,60540.0,513196.0,0.0
...,...,...,...,...,...,...,...,...
2524,MS,2019,19.03,16413.0,2978227.0,66398.0,342707.0,12.0
2527,ND,2019,21.60,21205.0,763724.0,210222.0,131355.0,10.0
2540,SD,2019,21.05,18142.0,887127.0,261949.0,98484.0,10.0
2542,TX,2019,19.07,23743.0,28986794.0,962899.0,3334081.0,242.0
2547,WI,2019,21.37,23246.0,5824581.0,230974.0,452210.0,46.0

In [ ]:
# Setup dataframe columns
df_dict = dict()
df_dict['Year'] = []
df_dict['State'] = []
df_dict["Attribute"] = []
df_dict["Model Parameters"] = []
df_dict["Prediction Years Out"] = []
df_dict["Prediction"] = []
df_dict["Confidence Interval"] = []
df_dict["AIC"] = []
df_dict["AICc"] = []
df_dict["BIC"] = []

# Setup p, d, q hyperparameters
p_vals = [0, 1, 2]
d_vals = [1, 2]
q_vals = [0, 1, 2]
socioeconomic_models = []
"""
Loop 11 times to predict 10 years into the future for each of
2010 to 2019, training on past 26 years
"""

for i in range(11):
  print("Predicting for", str(2010 + i))
  # Predict value for each relevant attribute
  for col in miso_states_year.columns[2:]:
    # Predict value for each of MISOs states
    for state in states:
      train = miso_states_year.loc[(miso_states_year['State'] == state) &\
                                  (miso_states_year['Year'] < 2010+i) &\
                                  (miso_states_year['Year'] >= 1984+i), 
                                  col]
      # Predict for each combination of p, d, q
      for p in p_vals:
        for d in d_vals:
          for q in q_vals:
            # Handle exceptions (linear algebra errors or lack of normality)
            try:
              model = arima_order(order=(p, d, q))
              model.fit(train)
              # socioeconomic_models.append([2010+i, col, state, p, d, q, pickle.dumps(model)])
              prediction, confint = model.predict(n_periods=10, return_conf_int=True)
            except Exception:
              for ii in range(10):
                df_dict["Year"].append(2010 + i + ii)
                df_dict["State"].append(state)
                df_dict["Attribute"].append(col)
                df_dict["Model Parameters"].append((p, d, q))
                df_dict["Prediction Years Out"].append(ii+1)
                df_dict["Prediction"].append(None)
                df_dict["Confidence Interval"].append(None)
                df_dict["AIC"].append(None)
                df_dict["AICc"].append(None)
                df_dict["BIC"].append(None)
              continue

            # Store results
            for ii in range(len(prediction)):
              df_dict["Year"].append(2010 + i + ii)
              df_dict["State"].append(state)
              df_dict["Attribute"].append(col)
              df_dict["Model Parameters"].append((p, d, q))
              df_dict["Prediction Years Out"].append(ii+1)
              df_dict["Prediction"].append(prediction[ii])
              df_dict["Confidence Interval"].append(confint[ii])
              try:
                aic = False
                aicc = False
                bic = False
                aic = model.aic()
                aicc = model.aicc()
                bic = model.bic()
                df_dict["AIC"].append(aic)
                df_dict["AICc"].append(aicc)
                df_dict["BIC"].append(bic)
              except Exception:
                if aic:
                  df_dict["AIC"].append(aic)
                else:
                  df_dict["AIC"].append(None)
                if aicc:
                  df_dict["AICc"].append(aicc)
                else:
                  df_dict["AICc"].append(None)
                if bic:
                  df_dict["BIC"].append(bic)
                else:
                  df_dict["BIC"].append(None)
                continue
# Convert dictionary to pandas dataframe
df = pd.DataFrame(df_dict)

Predicting for 2010
Predicting for 2011
Predicting for 2012
Predicting for 2013
Predicting for 2014
Predicting for 2015
Predicting for 2016
Predicting for 2017
Predicting for 2018
Predicting for 2019
Predicting for 2020

Adding errors for years with data

In [ ]:
# Actual values for attributes
df["Actual"] = "NA"
for year in range(2010, 2020):
  for state in states:
    for attribute in list(set(df['Attribute'])):
      df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Actual"] = miso_states_year.loc\
             [(miso_states_year['State'] == state) &\
              (miso_states_year['Year'] == year), attribute].values[0]

# Generate predicted error
df['Error'] = None
for year in range(2010, 2020):
  for state in states:
    for attribute in list(set(df['Attribute'])):
      df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Error"] = df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Prediction"] - df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Actual"]

# Generate absolute predicted error
df['Absolute Error'] = None
for year in range(2010, 2020):
  for state in states:
    for attribute in list(set(df['Attribute'])):
      df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Absolute Error"] = abs(df.loc[(df["Year"] == year) & \
             (df["State"] == state) & \
             (df["Attribute"] == attribute), \
             "Error"])

In [ ]:
# Save CSV file
df.to_csv('socioeconomic_final.csv', index=False)

### EV Sales Forecasting

In [7]:
# Setup dataframe columns
df_dict = dict()
df_dict['Year'] = []
df_dict['State'] = []
df_dict["Attribute"] = []
df_dict["Model Parameters"] = []
df_dict["Prediction Years Out"] = []
df_dict["Prediction"] = []
df_dict["Confidence Interval"] = []
df_dict["AIC"] = []
df_dict["AICc"] = []
df_dict["BIC"] = []
# ev_sales_models = []

# Setup p, d, q hyperparameters
p_vals = [0, 1, 2]
d_vals = [1, 2]
q_vals = [0, 1, 2]

# Repeat below loops 5 times to predict 5 years into the future for each of
# 2018 to 2021
for i in range(5):
  print("Predicting for", str(2018 + i))
  # Predict value for each relevant attribute
  for col in us_ev_sales.columns[2:]:
    # Predict value for each of MISOs states
    for state in states:
      train = us_ev_sales.loc[(us_ev_sales['State'] == state) &\
                                  (us_ev_sales['Year'] < 2018+i) &\
                                  (us_ev_sales['Year'] >= 2011+i), 
                                  col]
      # Predict for each combination of p, d, q
      for p in p_vals:
        for d in d_vals:
          for q in q_vals:
            # Error handling (linear algebra or normality issues)
            try:
              model = arima_order(order=(p, d, q))
              model.fit(train)
              # ev_sales_models.append([2018+i, col, state, p, d, q, pickle.dumps(model)])
              prediction, confint = model.predict(n_periods=4, return_conf_int=True)
            except Exception:
              # If model crashes (Linear algebra error most likely or not normalized)
              # Store results
              for ii in range(4):
                df_dict["Year"].append(2018 + i + ii)
                df_dict["State"].append(state)
                df_dict["Attribute"].append(col)
                df_dict["Model Parameters"].append((p, d, q))
                df_dict["Prediction Years Out"].append(ii+1)
                df_dict["Prediction"].append(None)
                df_dict["Confidence Interval"].append(None)
                df_dict["AIC"].append(None)
                df_dict["AICc"].append(None)
                df_dict["BIC"].append(None)
              continue

            # Store results
            for ii in range(len(prediction)):
              df_dict["Year"].append(2018 + i + ii)
              df_dict["State"].append(state)
              df_dict["Attribute"].append(col)
              df_dict["Model Parameters"].append((p, d, q))
              df_dict["Prediction Years Out"].append(ii+1)
              df_dict["Prediction"].append(prediction[ii])
              df_dict["Confidence Interval"].append(confint[ii])
              try:
                aic = False
                aicc = False
                bic = False
                aic = model.aic()
                aicc = model.aicc()
                bic = model.bic()
                df_dict["AIC"].append(aic)
                df_dict["AICc"].append(aicc)
                df_dict["BIC"].append(bic)
              except Exception:
                if aic:
                  df_dict["AIC"].append(aic)
                else:
                  df_dict["AIC"].append(None)
                if aicc:
                  df_dict["AICc"].append(aicc)
                else:
                  df_dict["AICc"].append(None)
                if bic:
                  df_dict["BIC"].append(bic)
                else:
                  df_dict["BIC"].append(None)
                continue
                
# Convert dictionary to pandas dataframe
df2 = pd.DataFrame(df_dict)

Predicting for 2018
Predicting for 2019
Predicting for 2020
Predicting for 2021
Predicting for 2022

KeyboardInterrupt: ignored

In [ ]:
# Actual values for attributes
df2["Actual"] = "NA"
for year in range(2018, 2022):
  for state in states:
    for attribute in list(set(df2['Attribute'])):
      df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Actual"] = us_ev_sales.loc\
             [(us_ev_sales['State'] == state) &\
              (us_ev_sales['Year'] == year), attribute].values[0]

# Generate predicted error
df2['Error'] = None
for year in range(2018, 2022):
  for state in states:
    for attribute in list(set(df2['Attribute'])):
      df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Error"] = df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Prediction"] - df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Actual"]

# Generate absolute predicted error
df2['Absolute Error'] = None
for year in range(2018, 2022):
  for state in states:
    for attribute in list(set(df2['Attribute'])):
      df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Absolute Error"] = abs(df2.loc[(df2["Year"] == year) & \
             (df2["State"] == state) & \
             (df2["Attribute"] == attribute), \
             "Error"])

In [ ]:
# Save CSV
df2.to_csv('ev_sales_final.csv', index=False)

### Evaluation

In [6]:
# Read in results dataframes
socio_results = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/socioeconomic_final.csv')
ev_sales_results = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/ev_sales_final.csv')

##### Socio

In [8]:
socio_results_min_aicc = socio_results.loc[socio_results.loc[socio_results['Prediction Years Out'] < 11].groupby(['Year', 'State', 'Attribute', 'Prediction Years Out']).AICc.idxmin()]
socio_results_min_aicc.to_csv('ev_sales_min_aicc_results.csv', index=False)

When using the best model (according to AICc), this is our error

Developed other models because AICc may not be the best attribute to determine how good a model is, could use a linear combination of AIC, AICc, BIC, Confidence Interval, past years error or absolute error, etc.

In [9]:
# Average error for each state and attribute when predicting 1 to 5 years out
mean_socio_errors = socio_results_min_aicc.loc[socio_results_min_aicc['Year'] < 2020].groupby(['State', 'Attribute', 'Prediction Years Out']).mean()
mean_socio_errors

                                                        Year     Prediction  \
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                     2014.5      22.730720
                                2                     2015.0      23.504089
                                3                     2015.5      24.619450
                                4                     2016.0      26.304514
                                5                     2016.5      28.086667
...                                                      ...            ...
WI    Transportation Energy Use 6                     2017.0  393885.803322
                                7                     2017.5  386556.523629
                                8                     2018.0  380875.672528
                                9                     2018.5  433281.750000
                                10                    2019.0  278049.375000

                                                             AIC        AICc  \
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                     122.896485  123.418224
                                2                     122.044129  122.565868
                                3                     121.005560  121.527299
                                4                     119.721284  120.243024
                                5                     118.091888  118.613627
...                                                          ...         ...
WI    Transportation Energy Use 6                     526.407066  527.042639
                                7                     526.270253  526.934284
                                8                     525.378920  526.090382
                                9                     523.816135  524.337874
                                10                    521.856386  522.378126

                                                             BIC  \
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                     125.334236
                                2                     124.481880
                                3                     123.443311
                                4                     122.159036
                                5                     120.529640
...                                                          ...
WI    Transportation Energy Use 6                     528.998784
                                7                     528.920874
                                8                     528.127712
                                9                     526.172243
                                10                    524.212494

                                                             Actual  \
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                         22.264000
                                2                         22.324444
                                3                         21.673750
                                4                         20.771429
                                5                         19.706667
...                                                             ...
WI    Transportation Energy Use 6                     443735.000000
                                7                     444511.000000
                                8                     446816.000000
                                9                     454581.500000
                                10                    452210.000000

                                                              Error  \
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                          0.466720
                                2                          1.179644
                                3                          2.945700
                                4                          5.533086
                                5                          8.380000
...                                                             ...
WI    Transportation Energy Use 6                     -49849.196678
                                7                     -57954.476371
                                8                     -65940.327472
                                9                     -21299.750000
                                10                   -174160.625000

                                                      Absolute Error
State Attribute                 Prediction Years Out
AL    Gasoline Price            1                           2.863840
                                2                           5.063556
                                3                           6.853500
                                4                           8.331486
                                5                          10.380667
...                                                              ...
WI    Transportation Energy Use 6                       83963.746678
                                7                      111612.393038
                                8                      131062.660805
                                9                      140079.125000
                                10                     174160.625000

[900 rows x 8 columns]

##### EV Sales

In [10]:
ev_sales_results_min_aicc = ev_sales_results.loc[ev_sales_results.loc[ev_sales_results['Prediction Years Out'] < 6].groupby(['Year', 'State', 'Attribute', 'Prediction Years Out']).AICc.idxmin()]
ev_sales_results_min_aicc.to_csv('ev_sales_min_aicc_results.csv', index=False)

In [11]:
# Generate average errors 
mean_socio_errors = ev_sales_results_min_aicc.loc[(ev_sales_results_min_aicc['Year'] < 2022) & (ev_sales_results_min_aicc['Attribute'] == 'Total')].groupby(['State', 'Attribute', 'Prediction Years Out']).mean()
mean_socio_errors

                                        Year    Prediction        AIC  \
State Attribute Prediction Years Out
AL    Total     1                     2019.5   1000.600000  71.599645
                2                     2020.0   1308.066667  70.739666
                3                     2020.5   1687.300000  69.180095
                4                     2021.0    351.000000  67.777777
AR    Total     1                     2019.5    484.050000  64.944743
                2                     2020.0    713.933333  63.801068
                3                     2020.5    889.100000  62.581730
                4                     2021.0    287.000000  61.772424
IA    Total     1                     2019.5    837.100000  71.967719
                2                     2020.0   1074.133333  70.504188
                3                     2020.5   1850.700000  67.649519
                4                     2021.0    767.000000  68.564339
IL    Total     1                     2019.5   8175.700000  90.118853
                2                     2020.0  10196.600000  89.006900
                3                     2020.5  14065.800000  86.770839
                4                     2021.0   7992.000000  84.445854
IN    Total     1                     2019.5   2238.850000  77.313993
                2                     2020.0   2935.933333  75.777076
                3                     2020.5   4078.600000  72.754548
                4                     2021.0   1957.000000  68.482825
KY    Total     1                     2019.5    908.550000  69.542759
                2                     2020.0   1073.066667  68.223760
                3                     2020.5   1553.600000  65.618213
                4                     2021.0    584.000000  62.960067
LA    Total     1                     2019.5    528.066764  53.308744
                2                     2020.0    663.585357  47.244112
                3                     2020.5   1100.500000  66.866168
                4                     2021.0     71.000000  65.509428
MI    Total     1                     2019.5   3336.950000  91.669005
                2                     2020.0   1676.266667  90.538610
                3                     2020.5   4197.200000  89.655213
                4                     2021.0   1400.000000  89.680459
MN    Total     1                     2019.5   3696.250673  81.121116
                2                     2020.0   5223.222106  79.678718
                3                     2020.5   5554.500000  81.129472
                4                     2021.0   1568.000000  82.563591
MO    Total     1                     2019.5   2344.450000  80.408622
                2                     2020.0   2729.533333  79.021534
                3                     2020.5   4326.800000  76.367273
                4                     2021.0   2040.000000  74.450668
MS    Total     1                     2019.5    287.900000  52.108063
                2                     2020.0    381.600000  50.986672
                3                     2020.5    494.200000  49.307533
                4                     2021.0    342.000000  56.668084
ND    Total     1                     2019.5     93.350000  51.483990
                2                     2020.0    144.400000  50.363977
                3                     2020.5    177.100000  49.170510
                4                     2021.0    -13.000000  48.143707
SD    Total     1                     2019.5    161.900000  50.440106
                2                     2020.0    254.666667  48.201833
                3                     2020.5    290.600000  48.542170
                4                     2021.0    267.000000  49.724410
TX    Total     1                     2019.5   8024.217416  97.524719
                2                     2020.0   8202.600000  95.482015
                3                     2020.5  22732.300000  90.696398
                4                     2021.0   9483.000000  85.600529
WI    Total     1                     2019.5   1546.849067  63.150269
                2                     2020.0   1441.265007  56.969473
                3                     2020.5   1821.800000  81.454209
                4                     2021.0   -722.000000  81.278826

                                            AICc        BIC        Actual  \
State Attribute Prediction Years Out
AL    Total     1                      74.599645  70.818521   1318.000000
                2                      73.739666  69.958542   1468.666667
                3                      72.180095  68.398971   1699.500000
                4                      70.777777  66.996653   2413.000000
AR    Total     1                      67.944743  64.163619    693.500000
                2                      66.801068  63.019944    779.666667
                3                      65.581730  61.800606    900.500000
                4                      64.772424  60.991300   1368.000000
IA    Total     1                      74.967719  71.186595   1146.500000
                2                      73.504188  69.723064   1223.000000
                3                      70.649519  66.868395   1458.000000
                4                      71.564339  67.783215   2181.000000
IL    Total     1                      93.118853  89.337729   9755.250000
                2                      92.006900  88.225776  10554.666667
                3                      89.770839  85.989714  12017.000000
                4                      87.445854  83.664730  16091.000000
IN    Total     1                      80.313993  76.532869   2824.750000
                2                      78.777076  74.995952   3087.666667
                3                      75.754548  71.973424   3528.000000
                4                      71.482825  67.701701   4917.000000
KY    Total     1                      72.542759  68.761635   1161.250000
                2                      71.223760  67.442636   1286.000000
                3                      68.618213  64.837088   1527.000000
                4                      65.960067  62.178943   2125.000000
LA    Total     1                      60.558744  52.332339    956.500000
                2                      55.910779  46.202613   1071.000000
                3                      69.866168  66.085044   1246.500000
                4                      68.509428  64.728304   1841.000000
MI    Total     1                      94.669005  90.887880   4923.750000
                2                      93.538610  89.757486   5374.666667
                3                      92.655213  88.874089   7147.000000
                4                      92.680459  88.899335  10477.000000
MN    Total     1                      85.371116  80.242351   4032.500000
                2                      84.345385  78.767407   4425.666667
                3                      84.129472  80.348348   4818.500000
                4                      85.563591  81.782466   6361.000000
MO    Total     1                      83.408622  79.627498   2944.750000
                2                      82.021534  78.240409   3170.333333
                3                      79.367273  75.586148   3729.000000
                4                      77.450668  73.669544   5168.000000
MS    Total     1                      55.108063  51.326939    389.500000
                2                      53.986672  50.205548    442.333333
                3                      52.307533  48.526408    527.000000
                4                      59.668084  55.886960    777.000000
ND    Total     1                      54.483990  50.702866    130.500000
                2                      53.363977  49.582852    142.333333
                3                      52.170510  48.389386    156.500000
                4                      51.143707  47.362583    233.000000
SD    Total     1                      53.440106  49.658982    209.500000
                2                      51.201833  47.420709    234.333333
                3                      51.542170  47.761045    258.500000
                4                      52.724410  48.943286    382.000000
TX    Total     1                     101.774719  96.645954  16763.250000
                2                      98.482015  94.700890  18429.666667
                3                      93.696398  89.915274  24754.500000
                4                      88.600529  84.819404  35240.000000
WI    Total     1                      70.400269  62.173864   2558.250000
                2                      65.636140  55.927974   2759.000000
                3                      84.454209  80.673085   3157.500000
                4                      84.278826  80.497702   4347.000000

                                             Error  Absolute Error
State Attribute Prediction Years Out
AL    Total     1                      -317.400000      634.800000
                2                      -160.600000      947.266667
                3                       -12.200000      580.200000
                4                     -2062.000000     2062.000000
AR    Total     1                      -209.450000      421.050000
                2                       -65.733333      505.333333
                3                       -11.400000      145.200000
                4                     -1081.000000     1081.000000
IA    Total     1                      -309.400000      684.000000
                2                      -148.866667     1117.933333
                3                       392.700000      402.500000
                4                     -1414.000000     1414.000000
IL    Total     1                     -1579.550000     3529.150000
                2                      -358.066667     5742.466667
                3                      2048.800000     2997.400000
                4                     -8099.000000     8099.000000
IN    Total     1                      -585.900000     1265.900000
                2                      -151.733333     1922.933333
                3                       550.600000      985.000000
                4                     -2960.000000     2960.000000
KY    Total     1                      -252.700000      499.100000
                2                      -212.933333      853.200000
                3                        26.600000      413.200000
                4                     -1541.000000     1541.000000
LA    Total     1                      -428.433236      576.133236
                2                      -407.414643      966.214643
                3                      -146.000000      342.400000
                4                     -1770.000000     1770.000000
MI    Total     1                     -1586.800000     2892.100000
                2                     -3698.400000     5199.200000
                3                     -2949.800000     2949.800000
                4                     -9077.000000     9077.000000
MN    Total     1                      -336.249327     2042.950673
                2                       797.555439     2090.222106
                3                       736.000000     2323.000000
                4                     -4793.000000     4793.000000
MO    Total     1                      -600.300000     1365.100000
                2                      -440.800000     2310.000000
                3                       597.800000     1035.800000
                4                     -3128.000000     3128.000000
MS    Total     1                      -101.600000      169.800000
                2                       -60.733333      219.800000
                3                       -32.800000       47.000000
                4                      -435.000000      435.000000
ND    Total     1                       -37.150000       90.750000
                2                         2.066667      110.600000
                3                        20.600000       93.400000
                4                      -246.000000      246.000000
SD    Total     1                       -47.600000      111.100000
                2                        20.333333       74.733333
                3                        32.100000       49.900000
                4                      -115.000000      115.000000
TX    Total     1                     -8739.032584    15425.432584
                2                    -10227.066667    20161.600000
                3                     -2022.200000     3844.000000
                4                    -25757.000000    25757.000000
WI    Total     1                     -1011.400933     1237.700933
                2                     -1317.734993     1973.601659
                3                     -1335.700000     1335.700000
                4                     -5069.000000     5069.000000

### ARIMAX

In [12]:
# MISO States and create exogenous variable
states = ['AL', 'AR', 'IL', 'IN', 'IA', 'KY', 'LA', 'MI', 'MN', 'MS', 'MO','ND', 'SD', 'TX', 'WI']
test_exogenous = socio_results_min_aicc[['State', 'Year', 'Attribute', \
                                      'Prediction', \
                                      'Prediction Years Out']].pivot\
                                      (index=["State", "Year", \
                                      "Prediction Years Out"], \
                                       columns='Attribute', values="Prediction")\
                                       .reset_index()[['State', 'Year', \
                                      'Prediction Years Out', 'Gasoline Price', \
                                      'Median Income', 'Population', \
                                      "Renewable Energy Use", \
                                      "Transportation Energy Use", "Stations Opened"]]
test_exogenous

Attribute,State,Year,Prediction Years Out,Gasoline Price,Median Income,Population,Renewable Energy Use,Transportation Energy Use,Stations Opened
0,AL,2010,1,18.4336,24388.906317,4.798463e+06,259149.531742,463910.320000,-0.000005
1,AL,2011,1,22.2228,25803.680709,4.813445e+06,220362.321836,480951.720000,-0.000005
2,AL,2011,2,18.7972,24225.245029,4.839782e+06,242449.786154,468764.640000,-0.000010
3,AL,2012,1,28.3516,24087.840000,4.813371e+06,267474.384389,479794.080000,16.333333
4,AL,2012,2,22.7256,24714.054106,4.841732e+06,196278.316271,486572.440000,-0.000010
...,...,...,...,...,...,...,...,...,...
1645,WI,2027,9,27.3304,17203.920000,5.893710e+06,246109.934693,664634.861239,-50.297478
1646,WI,2027,10,24.7320,15685.000000,5.900375e+06,236496.901893,365133.627432,-35.578192
1647,WI,2028,9,25.7764,13488.200000,5.894634e+06,246264.053900,478389.560000,50.004852
1648,WI,2028,10,27.8760,16178.800000,5.896292e+06,245770.912720,688655.477443,-61.606808
1649,WI,2029,10,26.2660,12404.000000,5.894939e+06,248284.458375,481298.400000,51.772091

In [15]:
# Setup dataframe columns
df_dict = dict()
df_dict['Year'] = []
df_dict['State'] = []
df_dict["Attribute"] = []
df_dict["Model Parameters"] = []
df_dict["Prediction Years Out"] = []
df_dict["Prediction"] = []
df_dict["Confidence Interval"] = []
df_dict["AIC"] = []
df_dict["AICc"] = []
df_dict["BIC"] = []
exogenous_features = ["Gasoline Price", "Population", "Median Income", "Renewable Energy Use", "Transportation Energy Use", "Stations Opened"]
arimax_ev_sales_models = []

# Setup p, d, q hyperparameters
p_vals = [0, 1, 2]
d_vals = [1, 2]
q_vals = [0, 1, 2]

# Repeat below loops 4 times to predict 4 years into the future for each of
# 2016 to 2020
for i in range(4):
  print("Predicting for", str(2016 + i))
  # Predict value for each relevant attribute
  for col in ['Total']:
    # Predict value for each of MISOs states
    for state in states:
      train = us_ev_sales.loc[(us_ev_sales['State'] == state) &\
                                  (us_ev_sales['Year'] < 2016+i) &\
                                  (us_ev_sales['Year'] >= 2011+i), 
                                  'Total']
      train_exogenous = miso_states_year.loc[(miso_states_year['State'] == state) &\
                                  (miso_states_year['Year'] < 2016+i) &\
                                  (miso_states_year['Year'] >= 2011+i), ]

      test_exogenous = socio_results_min_aicc[['State', 'Year', 'Attribute', \
                                      'Prediction',  \
                                      'Prediction Years Out']].pivot\
                                      (index=["State", "Year", \
                                      "Prediction Years Out"], \
                                       columns='Attribute', values="Prediction")\
                                       .reset_index()[['State', 'Year', \
                                      'Prediction Years Out', 'Gasoline Price', \
                                      'Median Income', 'Population', \
                                      "Renewable Energy Use", \
                                      "Transportation Energy Use", "Stations Opened"]]
 
      # Collect exogenous attributes from socio economic predictions
      test_exog = pd.DataFrame()
      row = None
      for ii in range(4):
        row = test_exogenous.loc[(test_exogenous['Year'] == 2016+i+ii) & \
                           (test_exogenous['State'] == state) &\
                           (test_exogenous['Prediction Years Out'] == ii+1)]
        test_exog = test_exog.append(row[['State', 'Year', 'Gasoline Price', 'Median Income'\
                              , 'Population', "Renewable Energy Use", \
                              "Transportation Energy Use", "Stations Opened"]])

      # Predict for each combination of p, d, q
      for p in p_vals:
        for d in d_vals:
          for q in q_vals:
            try:
              model = arima_order(order=(p, d, q))
              model.fit(train, exogenous=train_exogenous[exogenous_features])
              arimax_ev_sales_models.append([2016+i, col, state, p, d, q, pickle.dumps(model)])
              prediction, confint = model.predict(n_periods=4, return_conf_int=True, exogenous=test_exog[exogenous_features])
            except Exception as e:
              # If model crashes (Linear algebra error or not normalized)
              # Store results
              for ii in range(4):
                df_dict["Year"].append(2016 + i + ii)
                df_dict["State"].append(state)
                df_dict["Attribute"].append(col)
                df_dict["Model Parameters"].append((p, d, q))
                df_dict["Prediction Years Out"].append(ii+1)
                df_dict["Prediction"].append(None)
                df_dict["Confidence Interval"].append(None)
                df_dict["AIC"].append(None)
                df_dict["AICc"].append(None)
                df_dict["BIC"].append(None)
              continue

            # Store results
            for ii in range(len(prediction)):
              df_dict["Year"].append(2016 + i + ii)
              df_dict["State"].append(state)
              df_dict["Attribute"].append(col)
              df_dict["Model Parameters"].append((p, d, q))
              df_dict["Prediction Years Out"].append(ii+1)
              df_dict["Prediction"].append(prediction[ii])
              df_dict["Confidence Interval"].append(confint[ii])
              try:
                aic = False
                aicc = False
                bic = False
                aic = model.aic()
                aicc = model.aicc()
                bic = model.bic()
                df_dict["AIC"].append(aic)
                df_dict["AICc"].append(aicc)
                df_dict["BIC"].append(bic)
              except Exception:
                if aic:
                  df_dict["AIC"].append(aic)
                else:
                  df_dict["AIC"].append(None)
                if aicc:
                  df_dict["AICc"].append(aicc)
                else:
                  df_dict["AICc"].append(None)
                if bic: 
                  df_dict["BIC"].append(bic)
                else:
                  df_dict["BIC"].append(None)
                continue
# Convert dictionary to pandas dataframe
df3 = pd.DataFrame(df_dict)
df3

Predicting for 2016
Predicting for 2017
Predicting for 2018
Predicting for 2019

,Year,State,Attribute,Model Parameters,Prediction Years Out,Prediction,Confidence Interval,AIC,AICc,BIC
0,2016,AL,Total,"(0, 1, 0)",1,196.416661,"[196.41664158939247, 196.41668078867215]",-47.563922,-83.563922,-52.473567
1,2017,AL,Total,"(0, 1, 0)",2,200.128917,"[200.1288892756098, 200.12894471176278]",-47.563922,-83.563922,-52.473567
2,2018,AL,Total,"(0, 1, 0)",3,195.697072,"[195.69703773905513, 195.6971056341992]",-47.563922,-83.563922,-52.473567
3,2019,AL,Total,"(0, 1, 0)",4,183.121125,"[183.12108606857527, 183.12116446713463]",-47.563922,-83.563922,-52.473567
4,2016,AL,Total,"(0, 1, 1)",1,196.416661,"[196.41664158939247, 196.41668078867215]",-45.563922,-81.563922,-51.087272
...,...,...,...,...,...,...,...,...,...,...
4315,2022,WI,Total,"(2, 2, 1)",4,5708.045928,"[5708.045820558951, 5708.046035262249]",-40.718780,-78.433066,-50.634045
4316,2019,WI,Total,"(2, 2, 2)",1,2602.527719,"[2602.52769908325, 2602.5277382825298]",-38.718780,-77.718780,-49.535433
4317,2020,WI,Total,"(2, 2, 2)",2,3488.707379,"[3488.707335426639, 3488.7074230788935]",-38.718780,-77.718780,-49.535433
4318,2021,WI,Total,"(2, 2, 2)",3,4480.569049,"[4480.568975216007, 4480.569121886281]",-38.718780,-77.718780,-49.535433
4319,2022,WI,Total,"(2, 2, 2)",4,5708.045928,"[5708.045820558951, 5708.046035262249]",-38.718780,-77.718780,-49.535433

In [20]:
a = [1, 2, 3]
str(a)

'[1, 2, 3]'

In [21]:
textfile = open("/content/us_ev_sales_models.txt", "w")
for element in arimax_ev_sales_models:
  textfile.write(str(element) + "\n")
textfile.close()

In [32]:
# Store actual values for EV Sales
df3["Actual"] = "NA"
for year in range(2016, 2022):
  for state in states:
    for attribute in list(set(df3['Attribute'])):
      df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Actual"] = us_ev_sales.loc\
             [(us_ev_sales['State'] == state) &\
              (us_ev_sales['Year'] == year), attribute].values[0]

# Store prediction error
df3['Error'] = None
for year in range(2016, 2022):
  for state in states:
    for attribute in list(set(df3['Attribute'])):
      df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Error"] = df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Prediction"] - df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Actual"]

# Store absolute prediction error
df3['Absolute Error'] = None
for year in range(2016, 2022):
  for state in states:
    for attribute in list(set(df3['Attribute'])):
      df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Absolute Error"] = abs(df3.loc[(df3["Year"] == year) & \
             (df3["State"] == state) & \
             (df3["Attribute"] == attribute), \
             "Error"])
df3.to_csv('arimax_results_final.csv', index=False)

In [33]:
# Read arimax results
arimax_sales_results = pd.read_csv('arimax_results.csv')
arimax_results_min_aicc = arimax_sales_results.loc[arimax_sales_results.loc[arimax_sales_results['Prediction Years Out'] < 6].groupby(['Year', 'State', 'Attribute', 'Prediction Years Out']).AICc.idxmin()]
arimax_results_min_aicc.to_csv('arimax_min_aicc_results.csv')

In [ ]:
mean_arimax_results_min_aicc = arimax_results_min_aicc.loc[arimax_results_min_aicc['Year'] < 2022].groupby(['State', 'Attribute', 'Prediction Years Out']).mean()
mean_arimax_results_min_aicc

                                        Year    Prediction        AIC  \
State Attribute Prediction Years Out
AL    Total     1                     2017.5    531.002703 -51.656003
                2                     2018.5    642.782142 -51.656003
                3                     2019.5    702.850234 -51.656003
                4                     2020.0    255.436930 -53.020030
AR    Total     1                     2017.5    206.316419 -51.562638
                2                     2018.5    180.130670 -51.562638
                3                     2019.5    167.625837 -51.562638
                4                     2020.0    103.527620 -52.895544
IA    Total     1                     2017.5    663.742608 -52.118609
                2                     2018.5    898.690135 -52.118609
                3                     2019.5   1170.353628 -52.118609
                4                     2020.0    518.395338 -53.636838
IL    Total     1                     2017.5   5613.985160 -56.024845
                2                     2018.5   8236.007340 -56.024845
                3                     2019.5  11013.528840 -56.024845
                4                     2020.0   9643.238261 -52.759022
IN    Total     1                     2017.5   1218.065036 -55.264286
                2                     2018.5   1169.228897 -55.264286
                3                     2019.5    975.469135 -55.264286
                4                     2020.0    507.355061 -57.831074
KY    Total     1                     2017.5    428.727772 -47.563922
                2                     2018.5    486.670791 -47.563922
                3                     2019.5    279.072292 -47.563922
                4                     2020.0     34.921701 -47.563922
LA    Total     1                     2017.5    371.322934 -51.781825
                2                     2018.5    514.637298 -51.781825
                3                     2019.5    684.271203 -51.781825
                4                     2020.0    118.654123 -53.187793
MI    Total     1                     2017.5   2627.929807 -52.133820
                2                     2018.5   3511.906252 -52.133820
                3                     2019.5   5197.318534 -52.133820
                4                     2020.0   7692.678924 -53.657120
MN    Total     1                     2017.5   1755.865703 -56.423278
                2                     2018.5   1588.012963 -56.423278
                3                     2019.5   1268.523744 -56.423278
                4                     2020.0    356.819592 -59.376397
MO    Total     1                     2017.5   1600.860100 -55.770439
                2                     2018.5   2022.687326 -55.770439
                3                     2019.5   2474.325977 -55.770439
                4                     2020.0   2031.589377 -52.413101
MS    Total     1                     2017.5    159.464932 -51.267578
                2                     2018.5    212.393004 -51.267578
                3                     2019.5    271.249026 -51.267578
                4                     2020.0     65.155457 -47.563922
ND    Total     1                     2017.5     29.248575 -59.944553
                2                     2018.5     19.610887 -59.944553
                3                     2019.5      6.453939 -59.944553
                4                     2020.0    -92.087962 -58.670308
SD    Total     1                     2017.5     38.891800 -52.395570
                2                     2018.5     18.813903 -52.395570
                3                     2019.5    -11.683134 -52.395570
                4                     2020.0     15.925486 -47.944575
TX    Total     1                     2017.5   6795.474497 -47.750101
                2                     2018.5   7335.808843 -47.750101
                3                     2019.5   7809.784511 -47.750101
                4                     2020.0   5594.617218 -47.812161
WI    Total     1                     2017.5   2018.576658 -51.460982
                2                     2018.5   2679.357150 -51.460982
                3                     2019.5   3239.372713 -51.460982
                4                     2020.0   5159.453211 -52.760002

                                           AICc        BIC        Actual  \
State Attribute Prediction Years Out
AL    Total     1                    -87.822669 -56.872501    646.000000
                2                    -87.822669 -56.872501    810.000000
                3                    -87.822669 -56.872501   1318.000000
                4                    -89.242252 -58.338812   1468.666667
AR    Total     1                    -87.729305 -56.779136    324.500000
                2                    -87.729305 -56.779136    398.250000
                3                    -87.729305 -56.779136    693.500000
                4                    -89.117766 -58.214326    779.666667
IA    Total     1                    -88.118609 -57.335107    595.750000
                2                    -88.118609 -57.335107    709.500000
                3                    -88.118609 -57.335107   1146.500000
                4                    -89.636838 -58.955620   1223.000000
IL    Total     1                    -92.191512 -61.394769   5371.750000
                2                    -92.191512 -61.394769   6685.500000
                3                    -92.191512 -61.394769   9755.250000
                4                    -88.981245 -58.077805  10554.666667
IN    Total     1                    -91.597620 -60.787637   1461.750000
                2                    -91.597620 -60.787637   1828.750000
                3                    -91.597620 -60.787637   2824.750000
                4                    -94.275519 -63.558994   3087.666667
KY    Total     1                    -83.563922 -52.473567    557.750000
                2                    -83.563922 -52.473567    720.000000
                3                    -83.563922 -52.473567   1161.250000
                4                    -83.563922 -52.473567   1286.000000
LA    Total     1                    -87.948492 -57.151750    471.500000
                2                    -87.948492 -57.151750    567.000000
                3                    -87.948492 -57.151750    956.500000
                4                    -89.410015 -58.711144   1071.000000
MI    Total     1                    -88.133820 -57.196892   2656.250000
                2                    -88.133820 -57.196892   2990.000000
                3                    -88.133820 -57.196892   4923.750000
                4                    -89.657120 -58.771333   5374.666667
MN    Total     1                    -92.589945 -61.793203   2243.500000
                2                    -92.589945 -61.793203   2791.750000
                3                    -92.589945 -61.793203   4032.500000
                4                    -95.598620 -64.899748   4425.666667
MO    Total     1                    -91.937105 -61.140363   1585.250000
                2                    -91.937105 -61.140363   1940.250000
                3                    -91.937105 -61.140363   2944.750000
                4                    -88.635323 -57.731883   3170.333333
MS    Total     1                    -87.434245 -56.484076    175.500000
                2                    -87.434245 -56.484076    227.250000
                3                    -87.434245 -56.484076    389.500000
                4                    -83.563922 -52.473567    442.333333
ND    Total     1                    -96.277886 -65.774756     72.000000
                2                    -96.277886 -65.774756     82.000000
                3                    -96.277886 -65.774756    130.500000
                4                    -94.892530 -64.398227    142.333333
SD    Total     1                    -88.395570 -57.612068    109.250000
                2                    -88.395570 -57.612068    133.750000
                3                    -88.395570 -57.612068    209.500000
                4                    -83.944575 -53.058789    234.333333
TX    Total     1                    -83.750101 -52.813173   6868.250000
                2                    -83.750101 -52.813173   9308.000000
                3                    -83.750101 -52.813173  16763.250000
                4                    -83.812161 -52.926375  18429.666667
WI    Total     1                    -87.627648 -56.677480   1818.000000
                2                    -87.627648 -56.677480   1865.500000
                3                    -87.627648 -56.677480   2558.250000
                4                    -88.982224 -58.078784   2759.000000

                                             Error  Absolute Error
State Attribute Prediction Years Out
AL    Total     1                      -114.997297      202.641890
                2                      -167.217858      494.016999
                3                      -615.149766      615.149766
                4                     -1213.229736     1213.229736
AR    Total     1                      -118.183581      118.183581
                2                      -218.119330      218.119330
                3                      -525.874163      525.874163
                4                      -676.139047      676.139047
IA    Total     1                        67.992608      331.450064
                2                       189.190135      617.595783
                3                        23.853628      633.843485
                4                      -704.604662      704.604662
IL    Total     1                       242.235160     1759.994015
                2                      1550.507340     4933.648420
                3                      1258.278840     7008.693648
                4                      -911.428406     7773.755330
IN    Total     1                      -243.684964      521.143369
                2                      -659.521103      965.159347
                3                     -1849.280865     1849.280865
                4                     -2580.311606     2580.311606
KY    Total     1                      -129.022228      477.559549
                2                      -233.329209      682.164050
                3                      -882.177708     1078.007134
                4                     -1251.078299     1333.269519
LA    Total     1                      -100.177066      139.362507
                2                       -52.362702      455.391530
                3                      -272.228797      465.859518
                4                      -952.345877      952.345877
MI    Total     1                       -28.320193     1670.280560
                2                       521.906252     2923.841080
                3                       273.568534     6993.346817
                4                      2318.012257    14103.792738
MN    Total     1                      -487.634297      955.638508
                2                     -1203.737037     1481.060243
                3                     -2763.976256     2763.976256
                4                     -4068.847075     4707.312099
MO    Total     1                        15.610100      460.943197
                2                        82.437326      739.767531
                3                      -470.424023      470.424023
                4                     -1138.743956     1152.758291
MS    Total     1                       -16.035068       94.203041
                2                       -14.856996      169.339581
                3                      -118.250974      118.250974
                4                      -377.177876      377.177876
ND    Total     1                       -42.751425       63.659695
                2                       -62.389113      114.375512
                3                      -124.046061      124.046061
                4                      -234.421296      239.517015
SD    Total     1                       -70.358200       70.358200
                2                      -114.936097      114.936097
                3                      -221.183134      244.000074
                4                      -218.407847      218.407847
TX    Total     1                       -72.775503     3784.857013
                2                     -1972.191157     2407.107751
                3                     -8953.465489     9496.410207
                4                    -12835.049448    12835.049448
WI    Total     1                       200.576658      294.446221
                2                       813.857150     1090.165707
                3                       681.122713     2316.040787
                4                      2400.453211     2979.896253